$text: #2c2c2c;

%ubuntu-r {
   font-family: "Ubuntu", sans-serif;
   font-weight: 400;
}

%ubuntu-m {
   font-family: "Ubuntu", sans-serif;
   font-weight: 500;
}

%ubuntu-b {
   font-family: "Ubuntu", sans-serif;
   font-weight: 700;
}
